<div class="agsjsTOCNode">
    <div data-dojo-attach-point="rowNode" data-dojo-attach-event="onclick:_onClick">
        <span data-dojo-attach-point="contentNode" class="agsjsTOCContent">
          <input type="checkbox" data-dojo-attach-point="checkNode"/>
          <img src="${_blankGif}" alt="" data-dojo-attach-point="iconNode"/>
          <span data-dojo-attach-point="labelNode">
          </span>
        </span>
    </div>
    <div data-dojo-attach-point="containerNode" style="display: none;">
    </div>
</div>