body > div > div.container > div.collapse.navbar-collapse, .navbar-inverse,
.navbar-nav > .open > a, .navbar-inverse.navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus, .navbar-toggle:focus, .navbar-toggle:hover {
    /*color: #fff;*/
    background: -webkit-linear-gradient(top, #006699, #003366); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #006699, #003366); /*For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #006699, #003366); /*For Firefox 3.6 to 15 */
    background: linear-gradient(top, #006699, #003366);
    background-image: -ms-linear-gradient(top, #006699, #003366);
}

a{
    color: #448dce;
}

.nav>li{
    margin-right: 10px;
}

.navbar{
    height: 45px;
}

body {
    margin-bottom: 0;
    padding-top: 0;
    font-family: "Gotham SSm A","Gotham SSm B","Helvetica Neue",Helvetica-,Arial,sans-serif;
    background: url('http://www.visualizing.org/sites/all/themes/visualizing/images/stripe-bkg.png') repeat;
}

.content {
    overflow: hidden;
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
}

#inner-page{
    background-color: white;
    box-shadow: 1px 5px 1px #888888,
                -1px 5px 1px #888888;
    padding-top: 32px;
    padding-bottom: 60px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

#camera-icon{
    position: absolute;
    top: 142px;
    right: 2px;
    font-size: 32px;
    margin:0;
}


#tools-icon{
    font-size: 24px;
    position: absolute;
    top: 75px;
    left: 16px;
    color: white;
    background-color: rgba(0,0,0,0.6);
    border-radius: 5px;
    opacity: 0.8;
}
#accordion {
    display:block;
    position: absolute;
    top:0;
    left:0;
    float:left;
    width: 250px;
    height: 100%;
    background: white;
    overflow: auto;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

#HomeButton {
    position: absolute;
    top: 180px;
    right: 2px;
    z-index: 50;
}

#LocateButton {
    position: absolute;
    top: 215px;
    right: 2px;
    z-index: 50;
}

/*.logo {
    width: 30px;
    height: 30px;
}*/
.simpleGeocoder .esriGeocoderIcon {
    margin: 9px 0 6px 6px;
    color: #006699;
}

.navbar-inverse .navbar-text, .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-inverse{
    margin-bottom: 0;
    height: 45px;
}

.navbar-brand {
    font-size: 30px;
}

/*.bs-docs-footer {
    background-color: #f1f1f1;
    padding-top: 40px;
    padding-bottom: 40px;
    *//*margin-top: 100px;*//*
    color: #777;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

.bs-docs-footer-links li {
    list-style-type: none;
    display: inline;
    padding-right: 40px;
}

.bs-docs-footer-links li a {
    color: #003366;
}*/

.simpleGeocoder .esriGeocoder {
   margin-bottom: 5px;
   margin-left: 5px;
}

#road-photo{
    padding-left: 5px;
    padding-right: 5px;
}

/*Thumbnail photo*/
.col-md-4.portfolio-item.photo {
    padding: 10px 0 0;
    margin: 0 0 0 0;
    align-content: center;
}

.col-sm-4.portfolio-item.photo {
    padding: 10px 0 0;
    margin: 0 0 0 0;
    align-content: center;
}

/*Controller*/
.pl.col-sm-12 {
    font-size: 1em;
    padding: 8px 4px 4px 4px;
    border-style: outset;
    background-color: rgba(0,0,0,.65);
}

.container-fluid{
    text-align: center;
    padding:1px;
}

/*Controller*/
.bp.col-sm-12 {
    padding-top: 3px;
    width:80%;
    left:10%;
    position: fixed;
    bottom: 5%;
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    font-size: 1em;
    /*padding: 8px 4px 4px 4px;*/
    border-style: outset;
    background-color: rgba(0,0,0,.65);
    opacity: 0.98;
}
.btn-group>.btn+.dropdown-toggle{
    margin-bottom: 5px;
}

@media only screen and (max-width: 768px){
    .bp.col-sm-12 {
        position: relative;
        margin-top:10px;
        top: 80%;
        left:10%;
        right:10%;
    }
}

.col-sm-8 {
    padding: 10px 20px;
    /*margin-right: 1px;*/
    border: thin solid #d3d3d3;
    /*margin-bottom: 20px;*/
}
#attribute-table{
    padding: 0px 20px 10px;
}
.icons {
    font-size: 23px;
    /*margin: 5px 10px;*/
    text-align: center;
    margin:0;
    padding-right: 0;
}

button{
    border-style: outset;
    background-color: #FFFFFF;
}

.glyphicon {
    padding: 4px 10px;
}

.glyphicon-camera{
    padding:0;
    margin: 0;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait){
    #controller{
        display: inline;
    }
}


/*#direction-switch{
    padding-left:60px;
}*/
#control-btns{
    border-style:outset;
}

.esriSimpleSlider {
    margin-top: 68px;
    right: 2px;
}

.btn-group.dropdown{
    padding: 3px;
}

.col-sm-8 > #mapDiv {
    height: 421px;
}

.col-sm-8 > #HomeButton {
    top: 100px;
    right: 16px;
    z-index: 50;
}

.col-sm-8 > #LocateButton {
    top: 135px;
    right: 16px;
    z-index: 50;
}

.col-sm-8 > #LocateButton {
    top: 135px;
    right: 16px;
    z-index: 50;
}

.col-sm-8 > .esriSimpleSlider div {
    top: 135px;
    right: 2px;
    z-index: 50;
}

#controller.row.text-center{
    padding-left: 5px;
    padding-right: 5px;
}

#content-map {
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

#mapDiv{
    padding:0;
    margin:0;
    height:415px;
 }

.title-bar {
    color: #ffffff;
    background-color: #222 !important;
    position: absolute;
    max-width: 395px;
    top: 14px;
    right: 23px;
    opacity: .9;
    padding: 5px 9px 7px 7px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
}
.im.title-bar{
    top: 2px;
    right: 2px;
}

.photo-figcaption{
    display:block;
    position:absolute;
    width:100%;
    top:5%;
    left:0;
    z-index:2;
    text-align:center;
    font-weight:bold;
    text-shadow:1px 1px #FFFFFF;
}

.bp.photo-figcaption{
    position:fixed;

}

#metadata{
    color: #EE5A28;
    padding-top:10px;
    padding-bottom: 10px;
    margin-top: 20px;
    height: auto;
    background-color: lightgray;
}
#metadata p{
    color:black;
}

.panel-pane{
clear: both;
padding-bottom: 15px;
}

.col-xs-4 a{
    font-size:0.8em;
    padding-bottom: 0;
}

@media  (max-width: 768px){
    .col-xs-4 a{
        font-size:0.7em;
    }
}

.portfolio-item{
    margin-bottom: 0;
}

footer{
    background-color: #555;
    color: #999;
    padding: 60px 25px;
    /*margin-top: -100px;*/
    margin-bottom: 0;
    text-align: center;
}

footer> .container .center-block{
    text-align:center;
}

footer ul li{
    display: inline;
    padding-right:5px;
}

#KystateLogoImage{
    padding: 10px 0
}

#u-turn{
    color: #448dce;
    transform: rotate(90deg);
    margin:0;
}

