<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../bootstrap_v3/docs-assets/ico/favicon.png">

    <title>Full Map Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="fullmap-template.css" rel="stylesheet">

    <!-- Bootstrap-map-js -->
    <link rel="stylesheet" type="text/css" href="//js.arcgis.com/3.13/esri/css/esri.css">   
    <link rel="stylesheet" type="text/css" href="../../src/css/bootstrapmap.css">   
    <style type="text/css">
      #mapDiv {
        min-height: 100%; 
        max-height: 100%; 
      }
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bootstrap_v3/docs-assets/js/html5shiv.js"></script>
      <script src="../bootstrap_v3/docs-assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Full Map</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!--li class="active"><a href="#">Basemaps</a></li-->
            <li class="active dropdown" id="basemapList">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Basemaps <b class="caret"></b></a>
              <ul class="dropdown-menu" id="myDropdown">
                <li><a href="#">Streets</a></li>
                <li><a href="#">Imagery</a></li>
                <li><a href="#">National Geographic</a></li>
                <li><a href="#">Topographic</a></li>
                <li><a href="#">Gray</a></li>
                <li class="divider"></li>
                <li><a href="#">Open Street Map</a></li>
              </ul>
            </li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- Bootstrap-map-js -->
    <div id="mapDiv"></div>

    <script type="text/javascript">
      var package_path = window.location.pathname.substring(0, window.location.pathname.lastIndexOf('/'));
      var dojoConfig = {
          //T he location.pathname.replace() logic below may look confusing but all its doing is
          // enabling us to load the api from a CDN and load local modules from the correct location.
          packages: [{
              name: "application",
              location: package_path + '../../../src/js'
          }]
      };
    </script>
    <script src="//js.arcgis.com/3.13compact"></script>
    <script>
        require(["esri/map", "esri/dijit/Scalebar", "application/bootstrapmap", "dojo/domReady!"],
          function(Map, Scalebar, BootstrapMap) {
            // Get a reference to the ArcGIS Map class
            var map = BootstrapMap.create("mapDiv", {
              basemap: "national-geographic",
              center: [-122.45, 37.77],
              zoom: 12,
              scrollWheelZoom: false
            });

            var scalebar = new Scalebar({
              map: map,
              scalebarUnit: "dual"
            });

           $(document).ready(function () {
              $("#basemapList li").click(function (e) {
                switch (e.target.text) {
                  case "Streets":
                    map.setBasemap("streets");
                    break;
                  case "Imagery":
                    map.setBasemap("hybrid");
                    break;
                  case "National Geographic":
                    map.setBasemap("national-geographic");
                    break;
                  case "Topographic":
                    map.setBasemap("topo");
                    break;
                  case "Gray":
                    map.setBasemap("gray");
                    break;
                  case "Open Street Map":
                    map.setBasemap("osm");
                    break;
                }
              });
            });
        });
    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>
