<div>
    <table>
        <tr>
            <td data-dojo-attach-point="expandClickNode" class="layerControlTableExpand">
                <i data-dojo-attach-point="expandIconNode" class="fa ${icons.expand} layerControlIcon"></i>
            </td>
            <td class="layerControlTableCheck">
                <i data-dojo-attach-point="checkNode" class="fa ${icons.unchecked} layerControlIcon"></i>
            </td>
            <td class="layerControlTableLabel">
                <span data-dojo-attach-point="labelNode"></span>
            </td>
        </tr>
    </table>
    <div data-dojo-attach-point="expandNode" class="layerControlIndent" style="display:none;">${i18n.noLegend}</div>
</div>
