body {
  padding-top: 50px;
}

.navbar-brand {
  display: inline-flex;
  line-height: 28px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.navbar-brand-image {
  height: 32px;
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 0px;
}
.starter-template {
  padding: 15px 15px;
  text-align: center;
}
.navbar-inverse .navbar-brand {
	font-size: 16px;
	color: #fff;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.jumbotron {
	margin-top: 30px;
	background: url('../images/map-gray.png') no-repeat left center;
}

/*h4 {
  margin-top: 25px;
}
*/

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}