body {
  padding-top: 50px;
}

.navbar-brand {
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-brand-image {
  height: 34px;
  margin-left: -10px;
  margin-right: 10px;
  margin-top: 4px;
}
.starter-template {
  padding: 15px 15px;
  text-align: center;
}
.navbar-inverse .navbar-brand {
	font-size: 18px;
	color: #fff;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.jumbotron {
	margin-top: 30px;
	background: url('images/map-gray.png') no-repeat left center;
}

/*h4 {
  margin-top: 25px;
}
*/

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}