.gis_FindDijit {
    width: 100%;
}
.gis_FindDijit .querySelect, .gis_FindDijit .searchText {
	width:100%;
	margin-bottom: 10px;
}

.gis_FindDijit .containsCheck {
	margin-bottom: 10px;
	margin-left: 10px;
}

.gis_FindDijit .clearButton {
	float: right;
}

.gis_FindDijit label {
	font-weight:bold;
	margin-left: 5px;
}

.gis_FindDijit .resultsContainer {
	font-weight: bold;
	margin: 10px;
	display: none;
}

.gis_FindDijit .dgrid {
	height: 240px !important;
	width:100%;
	display: none;
}

.gis_FindDijit .dgrid .dgrid-scroller {
	margin-top: 35px !important;
}

.gis_FindDijit .dgrid .dgrid-header th {
	font-weight: bold;
}

.gis_FindDijit .dgrid .dgrid-cell {
	font-size: 11px;
	padding: 8px !important;
	cursor: pointer;
}

.gis_FindDijit .dgrid .field-value {
	width: 70%;
}

.gis_FindDijit .dgrid .field-foundFieldName {
	display: none;
}