<div>
	<table class="layout">
		<colgroup>
		  <col width="auto"></col>
		  <col width="100px;"></col>
	  </colgroup>
		<tbody>
			<td>
				<div data-dojo-attach-point="urlTextBox" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props='required:true,trim:true,disabled:true' style="width:100%;"></div>
			</td>
			<td>
				<div class="jimu-btn set-source" data-dojo-attach-point="btnSetSource" data-dojo-attach-event="onclick:_onBtnSetSourceClick">${nls.set}</div>
			</td>
		</tbody>
	</table>
</div>