<div>
	<table class="header-table" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td>
					<div>${nls.matchMsgSet}</div>
				</td>
				<td style="width:15px;padding-right:10px;">
					<div data-dojo-attach-point="btnDelete" data-dojo-attach-event="onclick:_destroySelf" class="delete"></div>
				</td>
				<td style="width:15px;padding-right:14px;">
					<div data-dojo-attach-point="btnAdd" class="add"></div>
				</td>
			</tr>
		</tbody>
	</table>
	<div data-dojo-attach-point="allExpsBox">
	</div>
</div>