<div>
	<div class="selector-container" data-dojo-attach-point="selectorContainer"></div>
	<div class="layers" data-dojo-attach-point="layersSection">
		<div class="service-name" data-dojo-attach-point="serviceName"></div>
		<div data-dojo-attach-point="errorSection" class="error-section">
			<span class="error-icon"></span>
			<span data-dojo-attach-point="errorTip" class="error-tip"></span>
		</div>
		<table class="layers-table" cellspacing="10" data-dojo-attach-point="layersTable" data-dojo-attach-event="onclick:_onLayersTableClicked">
			<colgroup>
				<col width="40px"></col>
				<col width="auto"></col>
			</colgroup>
			<tbody data-dojo-attach-point="layersTbody">
			</tbody>
		</table>
		<div data-dojo-attach-point="layersShelter" data-dojo-type="jimu/dijit/LoadingShelter" data-dojo-props='hidden:true'></div>
	</div>
	<div class="footer">
		<div class="jimu-btn cancel" data-dojo-attach-point="btnCancel" data-dojo-attach-event="onclick:_onBtnCancelClicked">${nls.cancel}</div>
		<div class="jimu-btn next jimu-state-disabled" data-dojo-attach-point="btnNext" data-dojo-attach-event="onclick:_onBtnNextClicked">${nls.next}</div>
		<div class="jimu-btn ok jimu-state-disabled" data-dojo-attach-point="btnOk" data-dojo-attach-event="onclick:_onBtnOkClicked">${nls.ok}</div>
		<div class="jimu-btn back" data-dojo-attach-point="btnBack" data-dojo-attach-event="onclick:_onBtnBackClicked">${nls.back}</div>
	</div>
</div>