<div>
	<div data-dojo-attach-point="contentSection" class="content-section">
		<div class="add-btn-section">
			<div data-dojo-attach-point="btnAddExp" data-dojo-attach-event="click:_onBtnAddExpClick" class="add-with-icon" style="margin-right:20px;">
				<span class="add-icon"></span>
				<span class="add-label">${nls.addAnotherExpression}</span>
			</div>
			<div data-dojo-attach-point="btnAddSet" data-dojo-attach-event="click:_onBtnAddSetClick" class="add-with-icon">
				<span class="add-icon"></span>
				<span class="add-label">${nls.addSet}</span>
			</div>			
		</div>
		<span data-dojo-attach-point="matchMsg" style="margin-bottom:11px;display:none;">${nls.matchMsg}</span>
		<div class="allExpsBox" data-dojo-attach-point="allExpsBox">
		</div>
	</div>
	<div data-dojo-attach-point="errorSection" style="display:none;">
		<span class="error-icon"></span>
		<span data-dojo-attach-point="errorTip" class="error-tip"></span>
	</div>
	<div data-dojo-attach-point="loading" data-dojo-type="jimu/dijit/LoadingIndicator" data-dojo-props="hidden:true"></div>
</div>