<div style="position:absolute;top:0;left:0;right:0;bottom:0;height:100%; width:100%; z-index:99999; background: no-repeat center center; opacity:0.6; filter:alpha(opacity=60);font-size:14px;line-height:20px;z-index:510;">
  <div style="color:#000000;position:absolute; top:50%; left:50%; margin-left:-50px;margin-top:-20px; font-weight:bold; width:250px;height:40px;">
      <img data-dojo-attach-point="loadingImg" style="position:absolute;width:40px;height:40px;left:0;top:0;"/>
      <p data-dojo-attach-point="textNode" style="position:absolute;left:60px;top:0;display:inline-block;height:40px;line-height:40px;white-space:nowrap;margin:0 0 0 20px;">${nls.loading}...</p>
  </div>
</div>