<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../bootstrap_v3/docs-assets/ico/favicon.png">

    <title>Webmap Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="webmap-template.css" rel="stylesheet">

    <!-- Bootstrap-map-js -->
    <link rel="stylesheet" type="text/css" href="//js.arcgis.com/3.13/esri/css/esri.css">   
    <link rel="stylesheet" type="text/css" href="../../src/css/bootstrapmap.css">   
   
    <style type="text/css">
    
      #mapDiv {
        min-height: 250px; 
        max-height: 250px; 
        margin-bottom: 20px;
      }

      #mapLegendDiv {
        height: 250px;  
        overflow: scroll;  
        margin-bottom: 20px;     
      }

      #mapTitle {
        margin-left: 15px;
      }

      body > .container {
        padding-bottom: 20px;
      }

      table {
        border-collapse: ;
        border-spacing: ;
      }

    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bootstrap_v3/docs-assets/js/html5shiv.js"></script>
      <script src="../bootstrap_v3/docs-assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Webmap Template</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="row">
        <div class="col-xs-12">
          <div class="page-header">
            <h2>Web Maps</h2>
            <p class="lead">Load an ArcGIS web map into the Bootstrap framework.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <h4 id="mapTitle"></h4>
        <br>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div id="mapLegendDiv"></div>
        </div>
        <div class="col-sm-8">
          <!-- Bootstrap-map-js -->
          <div id="mapDiv"></div>
        </div>
      </div>

    </div><!-- /.container -->

    <script type="text/javascript">
      var package_path = window.location.pathname.substring(0, window.location.pathname.lastIndexOf('/'));
      var dojoConfig = {
          //The location.pathname.replace() logic below may look confusing but all its doing is
          // enabling us to load the api from a CDN and load local modules from the correct location.
          packages: [{
              name: "application",
              location: package_path + '../../../src/js'
          }]
      };
    </script>
    <script src="//js.arcgis.com/3.13compact"></script>
    <script>
      require(["esri/map",
        "esri/dijit/Scalebar",
        "esri/dijit/Legend",
        "esri/arcgis/utils",
        "dojo/dom",
        "dojo/on",
        "dojo/query",
        "dojo/_base/json",
        "application/bootstrapmap",
        "dojo/domReady!"],
      function (Map, Scalebar, Legend, esriUtils, dom, on, query, dojo, BootstrapMap) {
        "use strict";

        var map,
          scalebar,
          legend;

        function loadWebmap() {
          // Get new webmap and extract map and map parts
          var mapDeferred = BootstrapMap.createWebMap("68f12b304ad8495eb77fb55243c0ccc2", "mapDiv",
          {
              slider: true,
              nav: false,
              smartNavigation: false,
              scrollWheelZoom: false
          });

          mapDeferred.then(function (response) {
              map = response.map;

          // Add titles
          dom.byId("mapTitle").innerHTML = response.itemInfo.item.title;
          //dom.byId("mapSubTitle").innerHTML = response.itemInfo.item.snippet;
          // Add scalebar and legend
          var layers = esriUtils.getLegendLayers(response);
          if (map.loaded) {
            initMapParts(layers);
          }
          else{
            on(map, "load", function () {
              initMapParts(layers);
            });
          }

          },function(error) {
            alert("Sorry, couldn't load webmap!");
            console.log("Error loading webmap: " + dojo.toJson(error));
          });
        }

        function initMapParts(layers) {
         //add scalebar
          scalebar = new Scalebar({
            map: map,
            scalebarUnit: 'english'
          });
          //add legend
          if (legend) {
            legend.map = map;
            legend.refresh(layers);
          }
          else {
            legend = new Legend({
                map:map,
                layerInfos:layers
              },"mapLegendDiv");
            legend.startup();
          }
        }

        // Load web map when page loads
        loadWebmap();

      });
    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>
