<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="AhjungKim" content="">

    <title>KYTC PhotoLog2</title>

    <!-- Bootstrap Core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../dist/css/3-col-portfolio.css">
    <link rel="stylesheet" type="text/css" href="../src/css/fullmap-template.css">

    <!-- Bootstrap-map-css -->
    <link rel="stylesheet" type="text/css" href="http://js.arcgis.com/3.10/js/esri/css/esri.css">
    <link rel="stylesheet" type="text/css" href="../src/css/bootstrapmap.css">
    <link rel="stylesheet" type="text/css" href="../src/css/fullmap-template.css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">-->
<nav class="navbar navbar-inverse center-block" role="navigation">
    <div class="container header">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#"></a>-->
            <a class="navbar-brand" href="http://kentucky.gov" target="_blank"><strong>Ky.</strong>
                <small>gov</small>
            </a>

            <div class="container header">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="ky-text hidden-xs hidden-sm hidden-md">An Official Website of the Commonwealth of
                            Kentucky
                        </li>

                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Services</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </div>
    </div>
</nav>



<!-- Page Content -->
<div id="inner-page" class="container">
    <!--Breadcrumb-->
    <ol class="breadcrumb">
        <li><a href="http://transportation.ky.gov/Pages/default.aspx">KYTC Homepage</a></li>
        <li><a href="http://transportation.ky.gov/maps/Pages/default.aspx">Maps</a></li>
        <li class="active">Photolog</li>
    </ol>

    <!-- Page Header -->
    <!-- /.row -->

    <!-- Projects Row -->
    <div id="road-photo" class="row text-center">
        <div class="col-md-4 portfolio-item photo">
            <a href="#">
                <img class="img-responsive center-block" src="images/L.jpg" alt="">
                <div id="photo-caption">LEFT</id></div>
            </a>
            <!--<caption>-->
                <!--<a href="#">Left</a>-->
            <!--</caption>-->
        </div>
        <div class="col-md-4 portfolio-item photo">
            <a href="#">
                <img class="img-responsive center-block" src="images/M.jpg" alt="">
            </a>
            <caption>
                <a href="#">Center</a>
            </caption>
        </div>
        <div class="col-md-4 portfolio-item photo">
            <a href="#">
                <img class="img-responsive center-block" src="images/R.jpg" alt="">
            </a>
            <caption>
                <a href="#">Right</a>
            </caption>
        </div>
    </div>
    <!-- /.row -->

    <!--Controller-->
    <div id="controller" class="row text-center">
        <div class="col-lg-12 center-block">

            <div class="btn-group dropdown">
                <button type="button" class="btn btn-primary">Increment</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <!-- Dropdown menu links -->
                    <li>Every Image: 26ft.</li>
                    <li>Every Other: 52ft.</li>
                    <li>Every Third: 78ft.</li>
                    <li>Every Fourth: 104ft.</li>
                    <li>Every Fifth: 130ft.</li>

                </ul>

            </div>

            <a href="#"><span class="glyphicon glyphicon-step-backward"></span></a>
            <a href="#"><span class="glyphicon glyphicon-fast-backward"></span></a>
            <a href="#"><span class="glyphicon glyphicon-backward"></span></a>
            <a href="#"><span class="glyphicon glyphicon-stop"></span></a>
            <a href="#"><span class="glyphicon glyphicon-play"></span></a>
            <!--<a href="#"><span class="glyphicon glyphicon-pause"></span></a>-->
            <a href="#"><span class="glyphicon glyphicon-forward"></span></a>
            <a href="#"><span class="glyphicon glyphicon-fast-forward"></span></a>
            <a href="#"><span class="glyphicon glyphicon-step-forward"></span></a>

        </div>
    </div>

    <!-- Projects Row -->
    <div  id="content-map" class="row">
        <div class="col-md-8">
            <div id="mapDiv">

            </div>
            <div id="player-title-bar">

                <div class="project-title">
                    <h4><a href="http://transportation.ky.gov/Program-Management/Pages/2012-Highway-Plan.aspx" target="_top">Active Highway Plan</a></h4>
                </div>
                <div class="project-byline">
                    By <a href="http://transportation.ky.gov/Geographic-Information-Systems/Pages/GIS%20Main%20Page.aspx" target="_top">KYTC GIS</a>
                </div>

            </div>
            <!--<div id="HomeButton"></div>
            <div id="LocateButton"></div>-->
            <!--<caption>-->
                <!--<a href="#">Selected Route</a>-->
            <!--</caption>-->
        </div>

        <div id="attribute-table" class="col-md-4 offset2" >

            <!--Direction: East, West-->
            <div class="btn-group btn-sm">
                <button type="button" class="btn btn-default">W</button>
                <button type="button" class="btn btn-default">E</button>
            </div>

            <!--Collection date-->
            <div class="btn-group dropdown">
                <button id="date-button" type="button" class="btn btn-success">Collection Date</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <!-- Dropdown menu links -->
                    <li>date</li>
                    <li>date</li>
                    <li>date</li>
                </ul>

            </div>

            <!--<div class="btn-group dropdown">-->
                <!--<button type="button" class="btn btn-info">Direction</button>-->
                <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">-->
                    <!--<span class="caret"></span>-->
                    <!--<span class="sr-only">Toggle Dropdown</span>-->
                <!--</button>-->
                <!--<ul class="dropdown-menu" role="menu">-->
                    <!--&lt;!&ndash; Dropdown menu links &ndash;&gt;-->
                    <!--<li>E</li>-->
                    <!--<li>W</li>-->
                <!--</ul>-->
            <!--</div>-->

            <!--Lane-->
            <div class="btn-group dropdown">
                <button id="lane-button" type="button" class="btn btn-success">Lane</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-left" role="menu">
                    <!-- Dropdown menu links -->
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                </ul>

            </div>
            <a href="#">
                <table class="table table-striped">
                    <!--<thead>-->
                    <tr>
                        <td>County</td>
                        <td>Value</td>
                    </tr>
                    <!--</thead>-->
                    <tbody>
                    <tr>
                        <td>Route Type</td>
                        <td>Value</td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>Route Number</td>
                        <td>Value</td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>Collection Date</td>
                        <td>Value</td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>Direction</td>
                        <td>Value</td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>RT Unique</td>
                        <td>Value</td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>Mile Point</td>
                        <td>Value</td>
                    </tr>
                </table>
            </a>
            <hr/>
            <div class="icons">
                <a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
                <a href="#"><span class="glyphicon glyphicon-print"></span></a>
                <a href="#"><span class="glyphicon glyphicon-link"></span></a>
            </div>

        </div>
    </div>

    <!-- Extra Content -->
    <div class="row-fluid">
        <div id="metadata" class="col-md-4"><h4>Metadata for the Map</h4>
            <hr/>
            <span><p>Coordinate System:<br/>
                Initial Extent:
                XMin: 3799888.2297840705
                YMin: 2797445.7263866686
                XMax: 6090868.636506327
                YMax: 4737335.0523503255
                Spatial Reference: 102763  (3089)

                Full Extent:
                XMin: 3904023.7028169017
                YMin: 3352139.9998731017
                XMax: 5986733.163473498
                YMax: 4298189.74202463
                Spatial Reference: 102763  (3089)

            </p></span>
        </div>

        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h4 class="page-header">More Interactive Apps
                <small>By KYTC GIS</small>
            </h4>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Pagination -->
    <!--<div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>-->
    <!-- /.row -->

    <!--<hr>-->

    <!-- Footer -->


</div>
<footer>
    <div class="container">
        <div id="footer" class="footer">

            <div id="footer-inner" class="inner">
                <div id="footer_content"><div id="footer_content-inner"><div id="block-block-71" class="block block-block">
                    <h2>Stay Connected</h2>

                    <div class="content">
                        <div id="stay-connected">

                            <table border="0" cellspacing="0" cellpadding="0">

                                <tbody><tr class="first">
                                    <td class="icon">
                                        <a class="footer-connected-icon social-icon-sm social-icon-sm-twitter" href="https://twitter.com/KYTC">&nbsp;</a>
                                    </td>
                                    <td>
                                        <a class="footer-connected-link footer-connected-link-twitter" href="https://twitter.com/KYTC">
                                            Follow us on <span class="link-highlight">Twitter</span>
                                        </a>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="icon">
                                        <a class="footer-connected-icon social-icon-sm social-icon-sm-rss" href="/rss.xml">&nbsp;</a>
                                    </td>
                                    <td>
                                        <a class="footer-connected-link footer-connected-link-rss" href="/rss.xml">
                                            <span class="link-highlight">RSS Feed</span><br>
                                        </a>
                                    </td>
                                </tr>

                                <tr class="last">
                                    <td class="icon">
                                        <a class="footer-connected-icon social-icon-sm social-icon-sm-newsletter" href="#">&nbsp;</a>
                                    </td>
                                    <td>
                                        <a class="footer-connected-link footer-connected-link-newsletter" href="#">
                                            <span class="link-highlight">Mailing List</span>
                                        </a>
                                    </td>
                                </tr>

                                </tbody></table>

                        </div>  </div>
                </div>
                    <!--
                                    <div id="block-views-Featured_Galleries-block_1" class="block block-views">
                                        <h2>Featured Maps</h2>

                                        <div class="content">
                                            <div class="view view-Featured-Galleries view-id-Featured_Galleries view-display-id-block_1 view-main-image-float view-dom-id-4">



                                                <div class="view-content">
                                                    <div class="views-row views-row-1 views-row-odd views-row-first">

                                                        <div class="views-field-field-main-image-fid">
                                                            <div class="field-content"><div class="node-type-Gallery"><a href="/galleries/visualizing-highlights-october-2014" class="imagecache imagecache-thumbnail_small imagecache-linked imagecache-thumbnail_small_linked"><img src="http://www.visualizing.org/sites/default/files/imagecache/thumbnail_small/images/galleries/vg_highlightsoctober2014.png" alt="" title="" class="imagecache imagecache-thumbnail_small" width="50" height="50"></a></div></div>
                                                        </div>

                                                        <div class="views-field-title">
                                                            <span class="field-content"><a href="/galleries/visualizing-highlights-october-2014">Visualizing Highlights: October 2014</a></span>
                                                        </div>

                                                        <div class="views-field-name">
                                                            <label class="views-label-name">
                                                                Curated by      </label>
                                                            <span class="field-content"><a href="/users/visualizing" title="View user profile.">Visualizing</a></span>
                                                        </div>
                                                    </div>
                                                    <div class="views-row views-row-2 views-row-even views-row-last">

                                                        <div class="views-field-field-main-image-fid">
                                                            <div class="field-content"><div class="node-type-Gallery"><a href="/galleries/news-week-103014" class="imagecache imagecache-thumbnail_small imagecache-linked imagecache-thumbnail_small_linked"><img src="http://www.visualizing.org/sites/default/files/imagecache/thumbnail_small/images/galleries/vg_inthenews103014.png" alt="" title="" class="imagecache imagecache-thumbnail_small" width="50" height="50"></a></div></div>
                                                        </div>

                                                        <div class="views-field-title">
                                                            <span class="field-content"><a href="/galleries/news-week-103014">In the News: Week of 10/30/14</a></span>
                                                        </div>

                                                        <div class="views-field-name">
                                                            <label class="views-label-name">
                                                                Curated by      </label>
                                                            <span class="field-content"><a href="/users/visualizing" title="View user profile.">Visualizing</a></span>
                                                        </div>
                                                    </div>
                                                </div>






                                            </div>   </div>
                                    </div>
                    -->
                    <!--
                                    <div id="block-block-81" class="block block-block">
                                        <h2>Explore Visualizations</h2>

                                        <div class="content">
                                            <div class="view view-nodequeue-1 view-id-nodequeue_1 view-display-id-block_1 view-grid-tight view-col-4 view-dom-id-5">



                                                <div class="view-content">
                                                    <table class="views-view-grid col-4">
                                                        <tbody>
                                                        <tr class="row-1 row-first row-last">
                                                            <td class="col-1 col-first">

                                                                <div class="views-field-field-main-image-fid">
                                                                    <div class="field-content"><div class="roll-info"><a href="/galleries/visualizing-highlights-october-2014" class="imagecache imagecache-thumbnail_small imagecache-linked imagecache-thumbnail_small_linked"><img src="http://www.visualizing.org/sites/default/files/imagecache/thumbnail_small/images/galleries/vg_highlightsoctober2014.png" alt="" title="" class="imagecache imagecache-thumbnail_small" width="50" height="50"></a><div class="roll-info-active"><a href="/galleries/visualizing-highlights-october-2014">Visualizing Highlights: October 2014</a><br><a href="/users/visualizing" title="View user profile.">Visualizing</a></div></div></div>
                                                                </div>
                                                            </td>
                                                            <td class="col-2">

                                                                <div class="views-field-field-main-image-fid">
                                                                    <div class="field-content"><div class="roll-info"><a href="/visualizations/mapping-climate-communication-no2-network-actors" class="imagecache imagecache-thumbnail_small imagecache-linked imagecache-thumbnail_small_linked"><img src="http://www.visualizing.org/sites/default/files/imagecache/thumbnail_small/images/mapping-climate-communication-_-network-of-actors_15_oct2014-l-px.jpg" alt="" title="" class="imagecache imagecache-thumbnail_small" width="50" height="50"></a><div class="roll-info-active" style="display: none;"><a href="/visualizations/mapping-climate-communication-no2-network-actors">Mapping Climate Communication: No.2 Network of Actors</a><br><a href="/users/ecolabs" title="View user profile.">ecolabs</a></div></div></div>
                                                                </div>
                                                            </td>
                                                            <td class="col-3">

                                                                <div class="views-field-field-main-image-fid">
                                                                    <div class="field-content"><div class="roll-info"><a href="/visualizations/golf-paths" class="imagecache imagecache-thumbnail_small imagecache-linked imagecache-thumbnail_small_linked"><img src="http://www.visualizing.org/sites/default/files/imagecache/thumbnail_small/images/screen_shot_2014-10-07_at_22.32.13.png" alt="" title="" class="imagecache imagecache-thumbnail_small" width="50" height="50"></a><div class="roll-info-active" style="display: none;"><a href="/visualizations/golf-paths">Golf Paths</a><br><a href="/users/adam-pearce" title="View user profile.">Adam Pearce</a></div></div></div>
                                                                </div>
                                                            </td>
                                                            <td class="col-4 col-last">

                                                                <div class="views-field-field-main-image-fid">
                                                                    <div class="field-content"><div class="roll-info"><a href="/visualizations/kalevala-book-visualisation" class="imagecache imagecache-thumbnail_small imagecache-linked imagecache-thumbnail_small_linked"><img src="http://www.visualizing.org/sites/default/files/imagecache/thumbnail_small/images/kalevala_thumbnail_0.jpg" alt="" title="" class="imagecache imagecache-thumbnail_small" width="50" height="50"></a><div class="roll-info-active" style="display: none;"><a href="/visualizations/kalevala-book-visualisation">The Kalevala Book Visualisation</a><br><a href="/users/georgia-panagiotidou" title="View user profile.">Georgia Panagiotidou</a></div></div></div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>






                                            </div> <div class="view view-Tag-List view-id-Tag_List view-display-id-block_1 footer-tag-list view-dom-id-3 views-processed">



                                            <div class="view-content">
                                                <table class="views-view-grid col-2">
                                                    <tbody>
                                                    <tr class="row-1 row-first">
                                                        <td class="col-1 col-first">

                                                            <div class="views-field-name">
                                                                <span class="field-content"><a href="/visualizations/109">Environment</a></span>
                                                            </div>
                                                        </td>
                                                        <td class="col-2 col-last">

                                                            <div class="views-field-name">
                                                                <span class="field-content"><a href="/visualizations/371">Economy</a></span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="row-2">
                                                        <td class="col-1 col-first">

                                                            <div class="views-field-name">
                                                                <span class="field-content"><a href="/visualizations/426">Health</a></span>
                                                            </div>
                                                        </td>
                                                        <td class="col-2 col-last">

                                                            <div class="views-field-name">
                                                                <span class="field-content"><a href="/visualizations/108">Energy</a></span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="row-3">
                                                        <td class="col-1 col-first">

                                                            <div class="views-field-name">
                                                                <span class="field-content"><a href="/visualizations/3906">Cities</a></span>
                                                            </div>
                                                        </td>
                                                        <td class="col-2 col-last">

                                                            <div class="views-field-name">
                                                                <span class="field-content"><a href="/visualizations/1821">Society</a></span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="row-4 row-last">
                                                        <td class="col-1 col-first">

                                                            <div class="views-field-name">
                                                                <span class="field-content"><a href="/visualizations/105">Demographics</a></span>
                                                            </div>
                                                        </td>
                                                        <td class="col-2 col-last">

                                                            <div class="views-field-name">
                                                                <span class="field-content"><a href="/visualizations/1831">Challenges</a></span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>






                                        </div>   </div>
                                    </div>
                    -->
                </div>
                </div>	</div> <!-- /footer-inner -->

        </div>
    </div>
    <!-- /.row -->
</footer>




<!-- /.container -->


<script type="text/javascript">
    var package_path = window.location.pathname.substring(0, window.location.pathname.lastIndexOf('/'));
    var dojoConfig = {
        //The location.pathname.replace() logic below may look confusing but all its doing is
        // enabling us to load the api from a CDN and load local modules from the correct location.
        packages: [{
            name: "application",
            location: package_path + '../../src/js'
        }]
    };
</script>
<script src="http://js.arcgis.com/3.11"></script>
<script src="js/map.js"></script>

<!-- jQuery Version 1.11.0 -->
<script src="../src/js/jquery-1.11.0.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../dist/js/bootstrap.min.js"></script>

</body>

</html>
