<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>KYTC PhotoLog2</title>

    <!-- Bootstrap Core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../dist/css/3-col-portfolio.css">
    <link rel="stylesheet" type="text/css" href="../src/css/fullmap-template.css">

    <!-- Bootstrap-map-css -->
    <link rel="stylesheet" type="text/css" href="http://js.arcgis.com/3.11/esri/css/esri.css">
    <link rel="stylesheet" type="text/css" href="../src/css/bootstrapmap.css">
    <link rel="stylesheet" type="text/css" href="../src/css/fullmap-template.css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">-->
<nav class="navbar navbar-inverse center-block" role="navigation">
    <div class="container header">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#"></a>-->
            <a class="navbar-brand" href="http://kentucky.gov" target="_blank"><strong>Ky.</strong>
                <small>gov</small>
            </a>

            <div class="container header">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="ky-text hidden-xs hidden-xs hidden-xs">An Official Website of the Commonwealth of
                            Kentucky
                        </li>

                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Services</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </div>
    </div>
</nav>


<!-- Page Content -->
<div id="inner-page" class="container">
    <!--Breadcrumb-->
    <ol class="breadcrumb">
        <li><a href="http://transportation.ky.gov/Pages/default.aspx">KYTC Homepage</a></li>
        <li><a href="http://transportation.ky.gov/maps/Pages/default.aspx">Maps</a></li>
        <li class="active">Photolog</li>
    </ol>

    <!-- Page Header -->
    <!-- /.row -->

    <!-- Projects Row -->
    <div id="road-photo" class="row text-center">
        <div class="col-xs-4 portfolio-item photo">
            <a href="#">
                <div class="photo-figcaption">LEFT</div>
                <img class="img-responsive center-block" src="images/L.jpg" alt="">
            </a>
            <!--<figcaption>-->
            <!--<a href="#">Left</a>-->
            <!--</figcaption>-->
        </div>
        <div class="col-xs-4 portfolio-item photo">
            <a href="#">
                <div class="photo-figcaption">CENTER</div>
                <img class="img-responsive center-block" src="images/M.jpg" alt="">
            </a>
            <!--<figcaption>
                <a href="#">CENTER</a>
            </figcaption>-->
        </div>
        <div class="col-xs-4 portfolio-item photo">
            <a href="#">
                <div class="photo-figcaption">RIGHT</div>
                <img class="img-responsive center-block" src="images/R.jpg" alt="">
            </a>
            <!--<figcaption>
                <a href="#">RIGHT</a>
            </figcaption>-->
        </div>
    </div>
    <!-- /.row -->

    <!--Controller-->
    <div id="controller" class="row text-center">
        <div class="col-lg-12">



                <div id="increment-dropdown" class="btn-group dropdown">
                    <button type="button" class="btn btn-primary">Increment</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <!-- Dropdown menu links -->
                        <li>Every Image: 26ft.</li>
                        <li>Every Other: 52ft.</li>
                        <li>Every Third: 78ft.</li>
                        <li>Every Fourth: 104ft.</li>
                        <li>Every Fifth: 130ft.</li>

                    </ul>

                </div>
                <a href="#"><span class="glyphicon glyphicon-step-backward"></span></a>
                <a href="#"><span class="glyphicon glyphicon-fast-backward"></span></a>
                <a href="#"><span class="glyphicon glyphicon-backward"></span></a>
                <a href="#"><span class="glyphicon glyphicon-stop"></span></a>
                <a href="#"><span class="glyphicon glyphicon-play"></span></a>
                <!--<a href="#"><span class="glyphicon glyphicon-pause"></span></a>-->
                <a href="#"><span class="glyphicon glyphicon-forward"></span></a>
                <a href="#"><span class="glyphicon glyphicon-fast-forward"></span></a>
                <a href="#"><span class="glyphicon glyphicon-step-forward"></span></a>
                <!--Direction: East, West-->
                <div id="direction-switch" class="btn-group btn-xs">
                    <button type="button" class="btn btn-default">W</button>
                    <button type="button" class="btn btn-default">E</button>
                </div>

                <!--Collection date-->
                <div class="btn-group dropdown">
                    <button id="date-button" type="button" class="btn btn-success">Collection Date</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <!-- Dropdown menu links -->
                        <li>date</li>
                        <li>date</li>
                        <li>date</li>
                    </ul>

                </div>

                <!--Lane-->
                <div class="btn-group dropdown">
                    <button id="lane-button" type="button" class="btn btn-success">Lane</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-left" role="menu">
                        <!-- Dropdown menu links -->
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                    </ul>

                </div>


        </div>
    </div>

    <!-- Projects Row -->
    <div id="content-map" class="row">
        <div class="col-xs-8">
            <div id="mapDiv">

            </div>
            <div class="player-title-bar">

                <div class="project-title">
                    <h4><a href="http://transportation.ky.gov/Program-Management/Pages/2012-Highway-Plan.aspx"
                           target="_top">Active Highway Plan</a></h4>
                </div>
                <div class="project-byline">
                    By <a
                        href="http://transportation.ky.gov/Geographic-Information-Systems/Pages/GIS%20Main%20Page.aspx"
                        target="_top">KYTC GIS</a>
                </div>

            </div>
            <!--<div id="HomeButton"></div>
            <div id="LocateButton"></div>-->
            <!--<figcaption>-->
            <!--<a href="#">Selected Route</a>-->
            <!--</figcaption>-->
        </div>

        <div id="attribute-table" class="col-xs-4 offset2">

            <!--&lt;!&ndash;Direction: East, West&ndash;&gt;
            <div class="btn-group btn-xs">
                <button type="button" class="btn btn-default">W</button>
                <button type="button" class="btn btn-default">E</button>
            </div>

            &lt;!&ndash;Collection date&ndash;&gt;
            <div class="btn-group dropdown">
                <button id="date-button" type="button" class="btn btn-success">Collection Date</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    &lt;!&ndash; Dropdown menu links &ndash;&gt;
                    <li>date</li>
                    <li>date</li>
                    <li>date</li>
                </ul>

            </div>

            &lt;!&ndash;Lane&ndash;&gt;
            <div class="btn-group dropdown">
                <button id="lane-button" type="button" class="btn btn-success">Lane</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-left" role="menu">
                    &lt;!&ndash; Dropdown menu links &ndash;&gt;
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                </ul>

            </div>-->
            <a href="#">
                <table class="table table-striped table-bordered table-condensed">

                    <tr>
                        <td>County</td>
                        <td>Value</td>
                    </tr>


                    <tr>
                        <td>Route Type</td>
                        <td>Value</td>
                    </tr>

                    <tr>
                        <td>Route Number</td>
                        <td>Value</td>
                    </tr>
                    <tr>
                        <td>Collection Date</td>
                        <td>Value</td>
                    </tr>
                    <tr>
                        <td>Direction</td>
                        <td>Value</td>
                    </tr>
                    <tr>
                        <td>RT Unique</td>
                        <td>Value</td>
                    </tr>
                    <tr>
                        <td>Mile Point</td>
                        <td>Value</td>
                    </tr>
                    <tr>
                        <td>AADT</td>
                        <td>Value</td>
                    </tr>
                    <tr>
                        <td>AADT Date</td>
                        <td>Value</td>
                    </tr>
                    <tr>
                        <td>Functional Class</td>
                        <td>Value</td>
                    </tr>
                    <tr>
                        <td>Road Name</td>
                        <td>Value</td>
                    </tr>

                </table>
            </a>
            <hr/>
            <div class="icons">
                <a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
                <a href="#"><span class="glyphicon glyphicon-print"></span></a>
                <a href="#"><span class="glyphicon glyphicon-link"></span></a>
            </div>


        </div>
    </div>

    <!-- Extra Content -->
    <div class="row-fluid">
        <div id="metadata" class="col-xs-4"><h4>Metadata for Active Highway</h4>
            <hr/>

            <span>
                Description: Approved highway projects of 2014.<br/>
                Data Owner: Someone (contact@ky.gov)<br/>
                Coordinate System:<br/>
                Full Extent:<br/>
                XMin: 3904023.7028169017<br/>
                YMin: 3352139.9998731017<br/>
                XMax: 5986733.163473498<br/>
                YMax: 4298189.74202463<br/>
                Spatial Reference: 102763 (3089)
            </span>
        </div>

        <div class="col-xs-4">...</div>

        <div class="container-fixed">
            <div class="col-xs-4">
            <h4 class="page-header">More Interactive Apps
                <small>By KYTC GIS</small>
            </h4>

                    <div class="col-xs-4 portfolio-item">
                        <a href="#">
                            <img class="img-responsive" src="images\L.jpg" alt="">
                            <figcaption>Bike Route</figcaption>
                        </a>
                    </div>
                    <div class="col-xs-4 portfolio-item">
                        <a href="#">
                            <img class="img-responsive" src="images\M.jpg" alt="">
                            <figcaption>Local Roads</figcaption>
                        </a>
                    </div>
                    <div class="col-xs-4 portfolio-item">
                        <a href="#">
                            <img class="img-responsive" src="images\R.jpg" alt="">
                            <figcaption>Environmental Overview</figcaption>

                        </a>
                    </div>
                    <div class="col-xs-4 portfolio-item">
                        <a href="#">
                            <img class="img-responsive" src="http://placehold.it/107x107" alt="">
                            <figcaption>Bridge Data Miner</figcaption>

                        </a>
                    </div>
                    <div class="col-xs-4 portfolio-item">
                        <a href="#">
                            <img class="img-responsive" src="http://placehold.it/107x107" alt="">
                            <figcaption>Project Plan Archive</figcaption>

                        </a>
                    </div>
                    <div class="col-xs-4 portfolio-item">
                        <a href="#">
                            <img class="img-responsive" src="http://placehold.it/107x107" alt="">
                            <figcaption>Pavement Condition</figcaption>

                        </a>
                    </div>
                    <div class="col-xs-4 portfolio-item">
                        <a href="#">
                            <img class="img-responsive" src="http://placehold.it/107x107" alt="">
                            <figcaption>Right-of-Way Monument Map</figcaption>

                        </a>
                    </div>
                    <div class="col-xs-4 portfolio-item">
                        <a href="#">
                            <img class="img-responsive" src="http://placehold.it/107x107" alt="">
                            <figcaption>KYTC Traffic Counts</figcaption>

                        </a>
                    </div>
                    <div class="col-xs-4 portfolio-item">
                        <a href="#">
                            <img class="img-responsive" src="http://placehold.it/107x107" alt="">
                            <figcaption>Project Plan Archive</figcaption>

                        </a>
                    </div>


                <div class="row text-center">
                    <div class="col-xs-12">
                        <ul class="pagination">
                            <li>
                                <a href="#">&laquo;</a>
                            </li>
                            <li class="active">
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">4</a>
                            </li>
                            <li>
                                <a href="#">5</a>
                            </li>
                            <li>
                                <a href="#">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!--<hr>-->

    <!-- Footer -->


</div>
<footer>
    <div class="container center-block">
        <div id="footer" class="footer">
            <ul>
                <li><a href="#">Policies</a></li>
                <li><a href="#">Security</a></li>
                <li><a href="#">Disclaimer</a></li>
                <li><a href="#">Accessibility</a></li>
                <br />

                    <a href="http://kentucky.gov/about/Pages/unbridledspirit.aspx" target="_blank">
                        <img src="http://placehold.it/200x75" id="KystateLogoImage"></img>
                    </a>
                <br />
                <li>©2014 Commonwealth Kentucky. All right reserved.</li>
                <br />
                <li><a href="http://kentucky.gov/Pages/home.aspx" target="_blank">Kentucky.gov</a></li>
                <li><a href="https://twitter.com/kytcgis" target="_blank">Twitter</a></li>
                <li><a href="#" target="_blank">RSS</a></li>
                <li><a href="#" target="_blank">MailingList</a></li>

            </ul>
        </div>
    </div>
    <!-- /.row -->
</footer>


<!-- /.container -->

<script type="text/javascript">
    var package_path = window.location.pathname.substring(0, window.location.pathname.lastIndexOf('/'));
    var dojoConfig = {
        //The location.pathname.replace() logic below may look confusing but all its doing is
        // enabling us to load the api from a CDN and load local modules from the correct location.
        packages: [{
            name: "application",
            location: package_path + '../../src/js'
        }]
    };
</script>
<script src="http://js.arcgis.com/3.11"></script>
<script src="js/map.js"></script>

<!-- jQuery Version 1.11.0 -->
<script src="../src/js/jquery-1.11.0.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../dist/js/bootstrap.min.js"></script>

</body>

</html>
