.jimu-widget-query-setting{
  margin:0;
  padding:0;
  font-size:15px;
  position: relative;
  width: 100%;
  height: 100%;
}

.jimu-widget-query-setting .query-list{
  position: absolute;
  top: 0;
  left: 0;
  width: 235px;
  height: 100%;
}

.jimu-widget-query-setting .query-list-content{
  margin-top: 15px;
}

.jimu-widget-query-setting .single-query-container{
  position: absolute;
  left: 265px;
  right: 0;
  height: 100%;
  overflow-y: auto;
}

.jimu-widget-single-query-setting{
  width: 100%;
}

.jimu-widget-single-query-setting table.general{
  width: 100%;
  border-collapse: collapse;
}

.jimu-widget-single-query-setting table.general>tbody>tr>td{
  height: 40px;
}

.jimu-widget-single-query-setting table.general>tbody>tr>.first-td{
  width: 100px;
}

.jimu-widget-single-query-setting table.general>tbody>tr>.second-td{
  width: auto;
}

.jimu-widget-single-query-setting .detail{
  width: 100%;
  margin-top: 15px;
}

.jimu-widget-single-query-setting .detail .jimu-tab3>.container-node>.view{
  overflow: auto;
}

.jimu-widget-single-query-setting .tab-item-div{
  height: 30px;
  line-height: 30px;
}