.floatingWidgetMove:before {
    float: right;
    margin-left: 10px;
    content: "\f047";
    font-family: FontAwesome;
}
.floatingWidgetDock:before {
    float: right;
    content: "\f112";
    font-family: FontAwesome;
}
.floatingWidgetPopout:before {
    float: right;
    content: "\f064";
    font-family: FontAwesome;
}