<div class="gis_IdentifyDijit">
    <div class="formContainer">
        <div data-dojo-type="dijit/form/Form" data-dojo-attach-point="identifyFormDijit">
            <label>${i18n.labels.selectLayer}</label><br/>
            <input type="select" data-dojo-type="dijit/form/FilteringSelect" data-dojo-props="name:'identifyLayer',autoComplete:true,required:true,searchAttr:'name',maxHeight:250,'class':'identifySelect'"
                data-dojo-attach-point="identifyLayerDijit" />
        </div>
    </div>
</div>
